@{
    ViewBag.Title = "BFS";
}

<div class="row top-20">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Breadth-First Search Обхождане в широчина</h2>
        <img class="image" src="http://algosharp.net/Images/Algorithms/Search/Breadth-First-Search.gif" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p><b>Резултат от обхождането в широчина</b></p>

        @Html.Raw(ViewBag.Paths.ToString())
    </div>
</div>